node_modules/
.expo/
.DS_Store
.env
*.log
*.lock
android/app/build/
ios/Pods/
backend/firebaseAdmin.json
partnermobileapp\android\.gradle\8.6\executionHistory\executionHistory.bin
userapp1\android\.gradle\8.6\executionHistory\executionHistory.bin