<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>Partner Mobile</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>This app requires access to your location for better service and navigation.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>This app requires location access in the background for geolocation updates.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>We use your location for seamless app functionality.</string>
    <key>NSCameraUsageDescription</key>
    <string>Allow access to the camera for service images.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Allow access to your photos for uploading images.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>This app requires microphone access for voice support.</string>
    <key>UIBackgroundModes</key>
    <array>
        <string>location</string>
        <string>fetch</string>
        <string>processing</string>
        <string>remote-notification</string>
    </array>
    <key>FirebaseAppDelegateProxyEnabled</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <!-- Add UILaunchStoryboardName key -->
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
</dict>
</plist>
